<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>FuzBuz</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <!-- favicon link -->
    <link rel="shortcut icon" href="assets/images/beardoe.ico" type="image/x-icon">

    <!-- Bulma CDN -->
    <!-- <link rel="stylesheet" href="https://cdnjs.com/libraries/bulma" -->
</head>

<body>
    {{{ body }}}
</body>

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>FuzBuz</strong> by
                <a href="https://jgthms.com">codeBrokers</a>
                <a href=""></a>
                <a href=""></a>.
            </p>
        </div>
    </div>
</footer>

</html>

