@font-face {
    font-family: 'buried_before_bbregular';
    src: url('buried-before.before-bb-webfont.woff2') format('woff2'),
         url('buried-before.before-bb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-image: url("../images/background1.jpg")
}

/* h1 {
 font-family: myFirstFont; 
 font-size: 40px;
} */
.title {
    text-align: center;
    font-family: buried_before_bbregular;
    font-size: 300px !important;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
#beardo-text {
    font-family: buried_before_bbregular;

}

.subtitle{
    text-align: center;
    font-size: 50px;
}
.navbar {
    background-color: gray;
}