@font-face {
    font-family: 'buried_before_bbregular';
    src: url('buried-before.before-bb-webfont.woff2') format('woff2'), url('buried-before.before-bb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.section {
    background-image: url("../images/cool-blue-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #D9B310;
}

/* h1 {
 font-family: myFirstFont; 
 font-size: 40px;
} */

.title-1 {
    text-align: center;
    font-family: buried_before_bbregular;
    font-size: 300px !important;
    background: -webkit-linear-gradient(#D9B310, #0B3C5d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#beardo-text {
    font-family: buried_before_bbregular;
    background: -webkit-linear-gradient(#D9B310, #0B3C5d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.label {
    background: -webkit-linear-gradient(#D9B310, #0B3C5d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}

.title {
    color: #f5deb3;
}

.subtitle {
    text-align: center;
    font-size: 50px;
    color: #f5deb3;
}

.navbar {
    background-color: gray;
}

#paint {
    width: 800px;
    height: 900px;
}

#myCanvas {
    width: 800px !important;
    height: 800px !important;
    background-color: white;
    background-image: url("../images/doodle_face.jpg");
    background-size: cover;
    margin-left: 500px;
    margin-top: 50px;
}

.box {
    background-image: url("../images/cool-blue-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-background {
    background-image: url("../images/login_back.jpg");
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}

.modal-close {
    background: -webkit-linear-gradient(#D9B310, #0B3C5d);
}

.navbar {
    padding: 10px;
}

.button {
    margin: 5px;
}